<div class="contain-nav">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img [src]="logo" alt="Agence" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">Agence</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Projetos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Administrativo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Comercial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Financeiro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Usuário</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="contain-body">

    <form id="form" #userForm="ngForm">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="btn btn-outline-primary" [class.active]="current==1" (click)="setCurrent(1)">Por Consultor</a>
            </li>
            <li class="nav-item ml-3">
                <a class="btn btn-outline-primary" [class.active]="current==2" (click)="setCurrent(2)">Por Cliente</a>
            </li>
        </ul>

        <ul class="nav justify-content-center">
            <li class="nav-link">
                <strong>{{userType}}</strong>
            </li>
            <li style="width: 100%;">
                <dual-list [source]="source" [(destination)]="target" height="200px"></dual-list>
            </li>
        </ul>
        <br>
        <div class="row row-cols-auto mb-2 d-flex align-items-center text-primary">
            <div class="col">
                <strong>Período</strong>
            </div>
            <div class="col d-flex">
                <select class="form-select form-control" name="select1" ng-init="selected1 = selected1 || '01'"  [(ngModel)]="selected1">
                    <option *ngFor="let item of months; let i = index" [ngValue]="item.val">{{item.name}}
                    </option>
                </select>
                <select class="form-select ml-3 form-control" name="select2" style="min-width: 88px;" [(ngModel)]="selected2">
                    <option *ngFor="let item of years; let i = index" [ngValue]="item">{{item}}
                    </option>
                </select>
            </div>
            <div class="col">
                <strong> a </strong>
            </div>

            <div class="col d-flex">
                <select class="form-select form-control" name="select3" [(ngModel)]="selected3">
                    <option *ngFor="let item of months; let i = index" [ngValue]="item.val">{{item.name}}
                    </option>
                </select>
                <select class="form-select ml-3 form-control" name="select4" style="min-width: 88px;" [(ngModel)]="selected4">
                    <option *ngFor="let item of years; let i = index" [ngValue]="item">{{item}}
                    </option>
                </select>
            </div>
        </div>
    </form>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="btn btn-outline-primary" [class.active]="current1==1" (click)="getReport()">Relatório</a>
        </li>
        <li class="nav-item ml-3">
            <a class="btn btn-outline-primary" [class.active]="current1==2" (click)="getGrafico()">Gráfico</a>
        </li>
        <li class="nav-item ml-3">
            <a class="btn btn-outline-primary" [class.active]="current1==3" (click)="getPizza()">Pizza</a>
        </li>
    </ul>
    <br>
<div *ngIf="current1==1">
    <app-relatorio [reportData]="reportData"></app-relatorio>
</div>
<div *ngIf="current1==2">
    <app-bar-chart></app-bar-chart>
</div>
<div *ngIf="current1==3">
    <app-pie-chart></app-pie-chart>
</div>
</div>
